::-moz-selection {
  background-color: #1e8f27;
  text-shadow: none;
}
::selection {
  background-color: #1e8f27;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #faf7ee;
}

::-webkit-scrollbar-thumb {
  background: #e1d2c1;
  border-radius: 15px;
}

@supports (padding: env(safe-area-inset-top)) {
  body {
    font-size: 1.6rem;
    background-color: $background_color;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: initial;
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media screen and (max-width: 1400px) {
    font-size: 58%;
  }
  @media screen and (max-width: 1224px) {
    font-size: 52%;
  }
  @media screen and (max-width: 992px) {
    font-size: 46%;
  }
  @media screen and (max-width: 768px) {
    font-size: 40%;
  }
  @media screen and (max-width: 576px) {
    font-size: 34%;
  }
  @media screen and (max-width: 321px) {
    font-size: 28%;
  }
}

main {
  padding-top: 60px;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #f0ece3;
  &__image {
    position: relative;
    z-index: 2;
  }
}

.orange_warn {
  color: #ffbc00;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
