header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  z-index: 999;
  padding: 12px 26px;
  background-color: $background_color;
  & h1 {
    color: #111;
    font-family: $sirenia;
    font-size: 22px;
  }
  @media screen and (min-width: 576px) {
    padding: 16px 32px;
  }
  @media screen and (min-width: 768px) {
    padding: 16px 42px;
  }
  @media screen and (min-width: 992px) {
    padding: 20px 52px;
  }
  @media screen and (min-width: 1224px) {
    padding: 20px 62px;
  }
}

